@import "../../../../../../styles/primary_theme.scss";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";

.remove-text-decoration {
    text-decoration: none !important;
}

.mdc-tab-bar {
    .mdc-tab {
        @include mdc-tab-text-label-color($mdc-theme-on-primary);
        @include mdc-tab-icon-color($mdc-theme-on-primary);
        .mdc-tab__ripple {
            @include mdc-states($mdc-theme-on-primary);
        }
    }
    .mdc-tab-indicator {
        @include mdc-tab-indicator-underline-color($mdc-theme-on-primary);
        .mdc-tab-indicator__content--underline {
            border-top-width: 3px;
        }
    }
}

.dark-mode .mdc-tab-bar {
    .mdc-tab {
        @include mdc-tab-text-label-color($mdc-theme-on-primary);
        @include mdc-tab-icon-color($mdc-theme-on-primary);
        .mdc-tab__ripple {
            @include mdc-states($mdc-theme-on-primary);
        }
    }
    .mdc-tab-indicator {
        @include mdc-tab-indicator-underline-color($mdc-theme-on-primary);
        .mdc-tab-indicator__content--underline {
            border-top-width: 3px;
        }
    }
}