@import "../../styles/primary_theme.scss";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/elevation/mixins";

.mdc-top-app-bar {
    @include mdc-elevation(4);
}

.app-title-navlink {
    text-decoration: none !important;
    .mdc-top-app-bar__title {
        color: $mdc-theme-on-primary;
        font-family: 'Merienda One', cursive !important;
        
        font-size: 2rem !important;
        padding-left: 0px !important;
    }
}